body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    display: inline;
}
.header {
    display: inline;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 8px 12px;
    width: 100%;
    height: 60px;
}


.header_menu {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.header_menu li {
    padding: 8px 12px;
    display: flex;
}

.header_menu li:hover {
    background-color: lightgray;
    border-radius: 4px;
}

.nav_main_slogan {
    display: inline;
}